{% render "dotbannersnippetcss" %}
<script>
{% assign t = template | prepend: "/" | append: "." %}
{% if t contains "collection" %}
	currentcollectionid= {{ collection.id  }};
{% endif %}	
{% if t contains "page" %}
	currentcollectionid= {{ page.id  }};
{% endif %}
{% if t contains "article" %}
	currentcollectionid= {{ article.id  }};
{% endif %}
{% if t contains "collection" or t contains "page" or t contains "article" %}
window.addEventListener("load", function(evt) {
	window.dotbanner = window.dotbanner === undefined ? {} : window.dotbanner;
	dotbanner.shop = "{{ shop.permanent_domain }}";
	//currentcollectionid= {{ collection.id  }};
	if(typeof currentcollectionid !== "undefined" && currentcollectionid > 0) {
		//console.log("current collectionID=", currentcollectionid);
		//console.log("dotbanner-collecion detected:",currentcollectionid);   
		var {{dot_position}} = document.querySelectorAll("[data-collection]");
		if(typeof {{dot_position}} !== "undefined")
		{
			for (var i{{dot_position}} in {{dot_position}}) if ({{dot_position}}.hasOwnProperty(i{{dot_position}})) {
				pdtbCID{{dot_position}} = {{dot_position}}[i{{dot_position}}].getAttribute("data-collection");
				pdtbPOS{{dot_position}} = {{dot_position}}[i{{dot_position}}].getAttribute("data-colposition");
				pdtbPOScheck{{dot_position}} = {{dot_position}}[i{{dot_position}}].getAttribute("data-colpositionchek");
				//console.log("debug loop dataid=", pdtbCID{{dot_position}} );
					if(currentcollectionid == pdtbCID{{dot_position}} ) {
						//console.log("eq detected in ID{{dot_position}}:",currentcollectionid + "=" + pdtbCID{{dot_position}});
						//console.log("collection position{{dot_position}}:", pdtbPOS{{dot_position}}); 	
						//console.log("dot_position{{dot_position}}", "{{dot_position}}");					
						//console.log({{dot_position}}[i{{dot_position}}]);	
						if(pdtbPOS{{dot_position}} === "{{dot_position}}" &&  pdtbPOS{{dot_position}} === pdtbPOScheck{{dot_position}} ) {
							//console.log("lets diplay in the {{dot_position}} ");
							{{dot_position}}[i{{dot_position}}].style.display = "block";
						}
					} 
			}
		} 
	}   	
})
{% endif %}


{% if t contains "/product." %}
{% endif %}
</script><div style='display:none' data-collection=82168119375 data-colpositionchek='{{dot_position}}' data-colposition='posPa'>{% render "dotbannersnippetcss" %}<style> .dotbannerwrapper-2 { 

}</style>
<div class="page-width dotbannerwrapper-2" style="text-align:center;">
			<div class="section-block" data-id="2">
			<noscript>
			<div class="featured-content" style="background-image: url("https://cdn.shopify.com/s/files/1/0013/1111/3328/files/HTG_002_Lookbook_Mobile_0014_15_2000x.jpg?v=1614758914"); background-position: center center">
			</div>
			</noscript>
			<div class="featured-contentD lazyload dotbanner-image-hotspot"
			style="max-width:100%;display:inline-block;background-position: center center; background-image: Durl(https://cdn.shopify.com/s/files/1/0013/1111/3328/files/HTG_002_Lookbook_Mobile_0014_15_2000x.jpg?v=1614758914);"
			data-sizes="auto"
			data-parent-fit="cover">
			
			<img alt='Image seo text' width="100%" height="auto" loading="lazy"
			src="https://cdn.shopify.com/s/files/1/0013/1111/3328/files/HTG_002_Lookbook_Mobile_0014_15_2000x.jpg?v=1614758914"
			style="object-position:center;object-fit:fill"
			>
			<div class="dotbanner-hotspot-wrapper dotbanner-repeater-item-5" style="left:49%;top:54%;" >
						<a class="dotbanner-icon " href=google.com
						target=_blank
						style="border-radius:50%;
						color:#393232;border-color:#393232;font-size:19px;
						"
						><i class="fas fa-tags"></i></a>
						<div class="dotbanner-hotspot-content  dot-content-top"
						style="background-color:white;border-width:1px;border-radius:5px;border-style:hidden;border-color:transparent;"
						>
						<h4 
							style="color:black;"
							class="dotbanner-hotspot-title">T-Shirt</h4>
						<div class="dotbanner-hotspot-description" 
							style="color:black;">
						  <p>Description <b style="font-size:20px;">text</b></p>
						</div>
					  	</div>
			</div>
						</div>
			</div>
			</div>
			</div>