{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-collection-preview.css' | asset_url }}" media="print" onload="this.media='all'">

{% comment %}Only appears if there are no active tags present.{% endcomment %}
{% if current_tags[0] == null %}

  <section class="collection-preview">
    
      <div class="collection-preview__inner page-width">
        <div class="collection-preview__header">
          <h2 class="collection-preview__header__headline">
              {{ section.settings.collection_name }}
          </h2>
        </div>
        <div class="collection-preview__products-container">
          <ul id="product-grid" data-id="{{ section.id }}" class="
            collection-preview__products">
            {%- for product in section.settings.product_list -%}
              
              {%- if forloop.index > 2 -%}
                
              {%- endif -%}
              <li class="grid__item">
                {% render 'product-card',
                  heading_level: 'h3',
                  card_product: product,
                  show_quick_add: section.settings.enable_quick_add,
                  section_id: section.id,
                  product_collection: collection
                %}
              </li>
            {%- endfor -%}
          </ul>
        </div>
        {% if section.settings.collection_url %}
          <div class="collection-preview__footer">
              <a title="Shop the {{ section.settings.collection_name }} collection" 
                rel="internal" href="{{ section.settings.collection_url }}"
                class="collection-preview__footer__cta  styled-link">
                Shop Full Collection
              </a>
          </div>
        {% endif %}
      </div>
  </section>
{% endif %}


{% schema %}
{
  "name": "Collection Preview",
  "settings": [
    {
      "type": "header",
      "content": "Collection"
    },
    {
      "type": "text",
      "id": "collection_name",
      "label": "Collection Name",
      "info": "The collection name that appears above the products."
    },
    {
      "type": "url",
      "id": "collection_url",
      "label": "Collection URL w/ Tag",
      "info": "The URL for the collection filtered by the collection name. IE: /collections/shop-all-womens/<collection-name>."
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Collection Products",
      "limit": 8
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    }
  ],
  "presets": [
    {
      "name": "Collection Preview",
      "settings": {
        "collection_name": "Collection Name"
      }
    }
  ],
  "templates": [
    "collection"
  ]
}
{% endschema %}