{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-preview.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}


<section class="collection-preview">
    <div class="collection-preview__inner page-width">
      <div class="collection-preview__header">
        <h2 class="collection-preview__header__headline">
            {{ section.settings.collection_name }}
        </h2>
      </div>
      <div class="collection-preview__products-container">
        <ul id="product-grid" data-id="{{ section.id }}" class="
          collection-preview__products product-grid  ">
          {%- for product in section.settings.product_list -%}
            {% assign lazy_load = false %}
            {%- if forloop.index > 2 -%}
              {%- assign lazy_load = true -%}
            {%- endif -%}
            <li class="grid__item">
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                lazy_load: lazy_load,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id
              %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
      {% if section.settings.collection %}
        <div>
            <a title="Shop the {{ section.settings.collection.title }} collection" rel="internal" href="{{ section.settings.collection.url }}">
              Shop Full Collection
            </a>
        </div>
      {% endif %}
    </div>
</section>


{% schema %}
{
  "name": "Collection Preview",
  "settings": [
    {
      "type": "text",
      "id": "collection_name",
      "label": "Collection Name",
      "info": "The collection name that appears above the products."
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection",
      "info": "The collection 'Shop Full Collection' link will go to."
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Collection Products",
      "limit": 8
    }
  ],
  "presets": [
    {
      "name": "Collection Preview",
      "settings": {
        "collection": "Collection"
      }
    }
  ],
  "templates": [
    "collection"
  ]
}
{% endschema %}