<link rel="stylesheet" href="{{ 'section-featured-collection-alt.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="featured-collection-alt-section {% if section.settings.top_border == 'yes' %}has-top-border{% endif %} {% if section.settings.bottom_border == 'yes' %}has-bottom-border{% endif %}">
  <div class="featured-collection-alt-section__inner">
      
      <div class="featured-collection-alt-section__copy">
        <div class="featured-collection-alt-section__copy__inner">
        
          <h2 class="featured-collection-alt-section__copy__heading">
              {{ section.settings.heading }}
          </h2>

          <div class="featured-collection-alt-section__copy__body">
              {{ section.settings.body }}
          </div>

          {% if section.settings.lookbook_url != blank and  section.settings.lookbook_url_text != blank %}
          <div class="featured-collection-alt-section__copy__cta  hide-for-large-up">
              <a href="{{ section.settings.lookbook_url }}" rel="internal" title="Shop the {{ section.settings.collection_heading }}" class="styled-link">
                  {{ section.settings.lookbook_url_text }}
              </a>
          </div>
          {% endif %}

          <div class="featured-collection-alt-section__image-container">
              <div class="featured-collection-alt-section__image-container__image">
                  <img
                      srcset="{%- if section.settings.collection_hero_image.width >= 165 -%}{{ section.settings.collection_hero_image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if section.settings.collection_hero_image.width >= 360 -%}{{ section.settings.collection_hero_image | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if section.settings.collection_hero_image.width >= 533 -%}{{ section.settings.collection_hero_image | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if section.settings.collection_hero_image.width >= 720 -%}{{ section.settings.collection_hero_image | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if section.settings.collection_hero_image.width >= 940 -%}{{ section.settings.collection_hero_image | image_url: width: 940 }} 940w,{%- endif -%}
                      {%- if section.settings.collection_hero_image.width >= 1066 -%}{{ section.settings.collection_hero_image | image_url: width: 1066 }} 1066w,{%- endif -%}
                      {{ section.settings.collection_hero_image | image_url }} {{ section.settings.collection_hero_image.width }}w"
                      src="{{ section.settings.collection_hero_image | image_url: width: 533 }}"
                      sizes="(min-width: 700px) 50vw, 50vw"
                      alt="{{ section.settings.collection_hero_image.alt | escape }}"
                      class="motion-reduce"
                      loading="lazy"
                      width="{{ section.settings.collection_hero_image.width }}"
                      height="{{ section.settings.collection_hero_image.height }}"
                  >
              </div>
          </div>

          {% if section.settings.lookbook_url != blank and  section.settings.lookbook_url_text != blank %}
              <div class="featured-collection-alt-section__copy__cta  show-for-large-up">
                  <a href="{{ section.settings.lookbook_url }}" rel="internal" title="Shop the {{ section.settings.collection_heading }}" class="styled-link">
                      {{ section.settings.lookbook_url_text }}
                  </a>
              </div>
          {% endif %}
        </div>

      </div>

        
      <a href="{{ section.settings.right_cta_url }}" rel="internal" title="{{ section.settings.right_cta_text }} {{ section.settings.collection-name }}" class="featured-collection-alt-section__collection">
          <div class="featured-collection-alt-section__collection__image-container">
            <div class="featured-collection-alt-section__collection__image">
              <img
                srcset="{%- if section.settings.right_image.width >= 165 -%}{{ section.settings.right_image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 360 -%}{{ section.settings.right_image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 533 -%}{{ section.settings.right_image | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 720 -%}{{ section.settings.right_image | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 940 -%}{{ section.settings.right_image | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 1066 -%}{{ section.settings.right_image | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ section.settings.right_image | image_url }} {{ section.settings.right_image.width }}w"
                src="{{ section.settings.right_image | image_url: width: 533 }}"
                sizes="(min-width: 930px) 30vw, (min-width: 700px) 40vw, 80vw"
                alt="{{ section.settings.right_image.alt | escape }}"
                class="motion-reduce"
                loading="lazy"
                width="{{ section.settings.right_image.width }}"
                height="{{ section.settings.right_image.height }}"
              >
            </div>
          </div>
          <div  class="featured-collection-alt-section__collection__text">
              <span>{{ section.settings.right_cta_text }}</span>
          </div>
      </a>  
  </div>
</section>

{% schema %}
{
  "name": "Featured Collection Alt",
  "templates": [
    "index",
    "page"
  ],
  "settings": [
    {
      "type": "header",
      "content": "Lookbook Section"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Lookbook collection heading"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Short description for the collection/lookbook"
    },
    {
      "type": "image_picker",
      "id": "collection_hero_image",
      "label": "Collection hero image"
    },
    {
      "type": "text",
      "id": "lookbook_url_text",
      "label": "Lookbook URL text"
    },
    {
      "type": "url",
      "id": "lookbook_url",
      "label": "Lookbook URL",
      "info": "The URL for the collection lookbook by the collection name. IE: /pages/the-coast-collection."
    },
    {
      "type": "header",
      "content": "Collection Section"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "CTA Text"
    },
    {
      "type": "text",
      "id": "right_cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "right_cta_url",
      "label": "CTA URL",
      "info": "The url the cta goes to, these should be written by hand if we're wanting to take customers to a filtered version of a collection. Example: /collections/concrete-jungle/mens or if kids /collections/kids/the-coast"
    },
    {
      "type": "header",
      "content": "Border Elements"
    },
    {
      "type": "radio",
      "id": "top_border",
      "label": "Top Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "no"
    },
    {
      "type": "radio",
      "id": "bottom_border",
      "label": "Bottom Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "yes"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection Alt"
    }
  ]
}
{% endschema %}
