{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'base-forms.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>


<footer class="footer">

  <div class="footer__inner page-width">

    {%- if section.settings.newsletter_enable -%}
      <div class="footer__newsletter">
          <div class="newsletter-form">
            {%- if section.settings.newsletter_heading != blank -%}
              <h2 class="footer-block__heading  newsletter-form__heading">{{ section.settings.newsletter_heading | escape }}</h2>
            {%- endif -%}
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              
              <div class="newsletter-form__field-wrapper">
                <div class="newsletter-form__field">
                  <div class="custom-field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="newsletter-form__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      required
                    >
                    <label class="newsletter-form__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                  </div>

                  <button type="submit" class="newsletter-form__button" name="commit" id="Subscribe">
                    {{ 'newsletter.button_label' | t }}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
          </div>
      </div>
    {%- endif -%}

     <div class="footer__emblem">
       <div class="footer__emblem__inner">
          <img loading="lazy"  width="100" height="100" src="{{'htg-emblem.png' | asset_url}}" alt="Honor the Gift Emblem" role="presentation">
        </div>
      </div>

    {%- if section.blocks.size > 0 -%}
      <div class="footer__blocks">
        {%- for block in section.blocks -%}
          <div class="footer__block" >
            {%- if block.settings.heading != blank -%}
              <h2 class="footer-block__heading visually-hidden" id="{{- block.settings.heading | escape -}}">{{- block.settings.heading | escape -}}</h2>
            {%- endif -%}

            {%- case block.type -%}
              {%- when 'link_list' -%}
                {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                  <ul class="footer__block__links-list" aira-describedby="{{- block.settings.heading | escape -}}">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="footer__block__link {% if link.active %} footer__block__link--active{% endif %}">
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- when 'contact_emails' -%}
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading " id="{{- block.settings.heading | escape -}}">{{- block.settings.heading | escape -}}</h2>
                {%- endif -%}
                <ul class="footer__block__contact" aria-describedby="{{- block.settings.heading | escape -}}">
                  {%if block.settings.general_email %}
                  <li>
                    <div class="utility-links__contact__email">
                        <span class="email__label">
                          General <span class="visually-hidden">Inquiries</span>
                        </span>
                        <a href="mailto:{{block.settings.general_email}}" tile="Contact us about general inquiries">
                          {{block.settings.general_email}}
                        </a>
                    </div>
                  </li>
                  {%endif%}

                  {%if block.settings.orders_email %}
                  <li>
                    <div class="utility-links__contact__email">
                      <span class="email__label">
                        Orders <span class="visually-hidden">Inquiries</span>
                      </span>
                      <a href="mailto:{{block.settings.orders_email}}" tile="Contact us about your order">
                      {{block.settings.orders_email}}
                      </a>
                    </div>
                  </li>
                  {%endif%}
                </ul>
              {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
    
  </div>

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__column--info">
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
        </div>
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick Links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "contact_emails",
      "name": "Contact Emails", 
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Contact Us",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "text", 
          "id": "general_email", 
          "label": "General Inquiries Email", 
          "default": "info@honorthegift.co"
        },
        {
          "type": "text", 
          "id": "orders_email", 
          "label": "Order Inquiries Email", 
          "default": "help@honorthegift.co"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "contact_emails"
      }
    ]
  }
}
{% endschema %}
