
<link rel="stylesheet" href="{{ 'component-header.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-product-card.css' | asset_url }}" media="print" onload="this.media='all'">

{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-off-canvas.css' | asset_url | stylesheet_tag }}
{{ 'component-predictive-search.css' | asset_url | stylesheet_tag }}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>




<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header ">
    <div class="header__inner  page-width">
        
      <div class="header-drawer-blocker">
      </div>

      {%- if section.settings.menu != blank -%}
        <header-drawer data-breakpoint="tablet">
          <details id="Details-menu-drawer-container" class="header-menu-drawer-container  menu-opening" data-menu-drawer-container open>
            <summary class="header__icon header__icon--menu header__icon--summary link focus-inset"
                    aria-label="{{ 'sections.header.menu' | t }}"
                    data-header-drawer-toggle>
              <span  class="header__icon__inner">

              </span>
              <span class="header__icon__text visually-hidden" data-text>
                Open Menu
              </span>
            </summary>
            <aside class="menu-drawer  header-menu-drawer motion-reduce"  tabindex="-1" data-header-drawer-menu>
              <div class="menu-drawer__inner-container">
                <div class="menu-drawer__navigation-container">
                  <div class="menu-drawer-search">
                    <div class="search-modal" aria-label="{{ 'general.search.search' | t }}">
                      <div class="search-modal__content" tabindex="-1">
                          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                            <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                              <div class="search__input-container  page-width">
                                <input class="search__input"
                                  id="Search-In-Modal-1"
                                  type="search"
                                  name="q"
                                  value=""
                                    role="combobox"
                                    aria-expanded="false"
                                    aria-owns="predictive-search-results-list"
                                    aria-controls="predictive-search-results-list"
                                    aria-haspopup="listbox"
                                    aria-autocomplete="list"
                                    autocorrect="off"
                                    autocomplete="off"
                                    autocapitalize="off"
                                    spellcheck="false"
                                >
                                <label class="search__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                                <input type="hidden" name="options[prefix]" value="last">
                                <button class="search__button" aria-label="{{ 'general.search.search' | t }}">
                                  <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                                    <use href="#icon-search">
                                  </svg>
                                </button>
                              </div>
                                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                                  <div class="predictive-search__loading-state">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                  </div>
                                </div>
                                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                            </form>
                          </predictive-search>

                        {% comment %} <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                          <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                            <use href="#icon-close">
                          </svg>
                        </button> } {% endcomment %}
                      </div>
                    </div>
                  </div>
                  <nav class="menu-drawer__navigation">
                    <ul class="menu-drawer__menu" role="list">
                      {%- for link in section.settings.menu.links -%}
                        <li>
                          {%- if link.links != blank -%}
                          <div class="menu-drawer__menu-item  " id="{{ link.title | escape }}"> 
                            {{ link.title | escape }}
                          </div>
                          <ul class="menu-drawer__menu__list" role="list" tabindex="-1" aria-labelledby="{{ link.title | escape }}">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a href="{{ childlink.url }}" class="menu-drawer__menu-item   menu-drawer__menu-subitem  list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <div class="menu-drawer__menu-item menu-drawer__menu-subitem" id="{{ childlink.title | escape }}"> 
                                    {{ childlink.title | escape }}
                                  </div>
                                  <ul class="menu-drawer__menu__list menu-drawer__menu__child-list" role="list" tabindex="-1"  aria-labelledby="{{ childlink.title | escape }}">
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item  menu-drawer__menu-child-item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                          {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item  menu-drawer__menu-item--no-children   focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>

                    <div class="header-menu-drawer__featured-collections-container">
                      <ul class="header-featured-collections" aria-label="Featured Collections">
                        {%- for collection in section.settings.featured-collections -%}
                          <li>
                            <div class="header-featured-collections__collection">
                              <a href="{{ collection.url }}" class="header-featured-collection__inner" {% if link.current %} aria-current="page"{% endif %}>
                              
                                <span class="header-featured-collection__title">
                                  {{ collection.title }}
                                </span>

                                <div class="header-featured-collection__image-container">
                                  {% if collection.image %}
                                  <div class="header-featured-collection__image">
                                    <img
                                      srcset="{% if collection.image.width >= 288 %}{{ collection.image | image_url: width: 288 }} 288w,{% endif %}
                                              {% if collection.image.width >= 576 %}{{ collection.image | image_url: width: 576 }} 576w,{% endif %}
                                              {% if collection.image.width >= 550 %}{{ collection.image | image_url: width: 550 }} 550w,{% endif %}
                                              {% if collection.image.width >= 1100 %}{{ collection.image | image_url: width: 1100 }} 1100w{% endif %}"
                                      src="{{ collection.image | image_url: width: 550, height: 550 }}"
                                      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((50vw / 2), calc(100vw - 6rem)"
                                      loading="lazy"
                                      width="500"
                                      height="{{ 500 | divided_by: collection.image.aspect_ratio | ceil }}"
                                      role="presentation"
                                      alt="{{ collection.title | escape }}">
                                      {% endif %}
                                  </div>
                                </div>
                              </a>
                            </div>
                          </li>
                          {% endfor %}
                      </ul>
                    </div>
    
                    <div class="menu-drawer__utility-links  hide-for-large-up">
                      <ul>
                        {%- for link in section.settings.menu.links -%}
                          <li>
                            <a href="{{ link.url }}" class="menu-drawer__menu-item  menu-drawer__menu-item--utility-link {% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                              {{ link.title | escape }}
                            </a>
                          </li>
                          {% endfor %}
                      </ul>
                      <ul class="menu-drawer__utility-links__contact">
    
                        {% if section.settings.general_email %}
                        <li>
                          <div class="utility-links__contact__email">
                              <span class="email__label">
                                General <span class="visually-hidden">Inquiries</span>
                              </span>
                              <a href="mailto:{{ section.settings.general_email }}" tile="Contact us about general inquiries">
                                {{ section.settings.general_email }}
                              </a>
                          </div>
                        </li>
                        {% endif %}
    
                        {% if section.settings.orders_email %}
                        <li>
                          <div class="utility-links__contact__email">
                            <span class="email__label">
                              Orders <span class="visually-hidden">Inquiries</span>
                            </span>
                            <a href="mailto:{{ section.settings.orders_email }}" tile="Contact us about your order">
                            {{ section.settings.orders_email }}
                            </a>
                          </div>
                        </li>
                        {% endif %}
                        
                      </ul>
                    </div>
                  </nav>

                </div>
              </div>
            </aside>
          </details>
        </header-drawer>
      {%- endif -%}

      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%else%}
      <div class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            <svg class="header__logo" title="Honor The Gift" focusable="false">
              <use href="#htg-logo">
            </svg>
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%else%}
      </div>
      {%- endif -%}

      {%- if section.settings.menu != blank -%}
        <nav class="header__menu">
          <ul class="header__menu__list-menu " role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <menu-dropdown>
                    <button class="header__menu-item  focus-inset" id="#{{ link.title | escape }}" aria-expanded="false">
                      <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                    </button>

                    {% assign title = link.title | escape %}

                    <div class="header__submenu  {% if title == 'Shop' %}header__submenu--shop{% endif %} " role="region" aria-hidden="true"  aria-labelledby="{{ link.title | escape }}">
                      <div class="header__submenu__inner  page-width">
                        <ol class="header__submenu__list-menu   motion-reduce" >
                          {%- for childlink in link.links -%}
                            <li>
                              {%- if childlink.links == blank -%}
                                <a href="{{ childlink.url }}" class="header__submenu__list-item    focus-inset {% if childlink.current %} header__submenu__list-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                  {{ childlink.title | escape }}
                                </a>
                              {%- else -%}
                                <div class="header__submenu__list-item  focus-inset" id="{{ childlink.title | escape }}">
                                  {{ childlink.title | escape }}
                                </div>
                                <div class="header__childmenu">
                                  <ul  class="header__submenu__list-menu  header__childmenu__list-menu" aria-describedby="{{ childlink.title | escape }}">
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a href="{{ grandchildlink.url }}" class="header__submenu__list-item  header__childmenu__list-item focus-inset {% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                              </div>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ol>

                        <div class="header__submenu__featured-collections">
                          <ul class="header-featured-collections" aria-label="Featured Collections">
                            {%- for collection in section.settings.featured-collections -%}
                              <li>
                                <div class="header-featured-collections__collection">
                                  <a href="{{ collection.url }}" class="header-featured-collection__inner" {% if link.current %} aria-current="page"{% endif %}>
                                  
                                    <span class="header-featured-collection__title">
                                      {{ collection.title }}
                                    </span>
          
                                    <div class="header-featured-collection__image-container">
                                      {% if collection.image %}
                                      <div class="header-featured-collection__image">
                                        <img
                                          srcset="{% if collection.image.width >= 288 %}{{ collection.image | image_url: width: 288 }} 288w,{% endif %}
                                                  {% if collection.image.width >= 576 %}{{ collection.image | image_url: width: 576 }} 576w,{% endif %}
                                                  {% if collection.image.width >= 550 %}{{ collection.image | image_url: width: 550 }} 550w,{% endif %}
                                                  {% if collection.image.width >= 1100 %}{{ collection.image | image_url: width: 1100 }} 1100w{% endif %}"
                                          src="{{ collection.image | image_url: width: 550, height: 550 }}"
                                          sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((50vw / 2), calc(100vw - 6rem)"
                                          loading="lazy"
                                          width="500"
                                          height="{{ 500 | divided_by: collection.image.aspect_ratio | ceil }}"
                                          role="presentation"
                                          alt="{{ collection.title | escape }}">
                                          {% endif %}
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              </li>
                              {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </menu-dropdown>
              
                {%- else -%}
                  <a href="{{ link.url }}" class=" header__menu-item  focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}

      <nav class="header__actions-menu  show-for-large-up">
        <ul class="header__menu__list-menu " role="list">
          <li>
            <button  class=" header__menu-item  focus-inset">
              <span >Search</span>
            </button>
          </li>
          <li>
            <a href="/account/login" class=" header__menu-item  focus-inset"{% if link.current %} aria-current="page"{% endif %}>
              <span {%- if link.current %} class="header__active-menu-item"{% endif %}>Account</span>
            </a>

          </li>
          <li>
            <cart-toggle data-toggle-type="text">
              <button  class="header__icon header__icon--cart  focus-inset" id="cart-icon-bubble" data-cart-toggle aria-expanded="false">
                {%- render 'icon-cart' -%}
                <span class="visually-hidden" class="header__icon--cart__text" data-cart-toggle-text>My Bag</span>
                  <div class="cart-count-bubble">
                    {%- if cart.item_count < 100 -%}
                      <span aria-hidden="true" data-cart-count>
                        {{ cart.item_count }}
                      </span>
                    {%- endif -%}
                    <span class="visually-hidden" data-cart-count-aria>
                      {%- if cart.item_count > 0 -%}
                       {{ 'sections.header.cart_count' | t: count: cart.item_count }}
                      {%- endif -%}
                    </span>
                  </div>
              </button>
            </cart-toggle></li>
        </ul>
      </nav>
      
      <cart-toggle class="hide-for-large-up" data-toggle-type="icon">
        <button  class="header__icon header__icon--cart  focus-inset" id="cart-icon-bubble" data-cart-toggle aria-expanded="false">
          {%- render 'icon-cart' -%}
          <span class="visually-hidden header__icon--cart__text" data-cart-toggle-text>My Bag</span>
            <div class="cart-count-bubble">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true" data-cart-count>
                  {{ cart.item_count }}
                </span>
              {%- endif -%}
              <span class="visually-hidden" data-cart-count-aria>
                {%- if cart.item_count > 0 -%}
                 {{ 'sections.header.cart_count' | t: count: cart.item_count }}
                {%- endif -%}
              </span>
            </div>
        </button>
      </cart-toggle>
  </div>

  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- render 'cart-off-canvas' -%}


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}


<script>
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      const that = this; 

      this.onScrollHandler = this.onScroll.bind(this);

      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();


      let activeDropDown = null; 

      function checkIfOpen() {
        that.header.querySelectorAll('details[open]').forEach(function() {
          console.log('is open!');
          return true
        })
      }

      document.querySelectorAll('details-disclosure').forEach(function(elem) {


        elem.querySelector('details').addEventListener("toggle", event => {
          if(elem.querySelector('details').open) {
            console.log(activeDropDown); 

            if(activeDropDown !== elem.querySelector('span').textContent) {
              console.log('TRANSFORM');
            }

            activeDropDown = elem.querySelector('span').textContent; 
            console.log(activeDropDown); 

          } else if(!checkIfOpen()) {
            that.header.classList.remove('has-dropdown-open');
          }
        });
      });
    }

    disconnectedCallback() {
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    onKeyUp(event) {
      console.log(event); 
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.reveal.bind(this));
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
  
</script>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Main Menu"
    },
    {
      "type": "collection_list",
      "id": "featured-collections",
      "label": "Featured Collections",
      "limit": 2
    },
    {
      "type": "link_list",
      "id": "footer-menu",
      "default": "main-menu",
      "label": "Mobile Nav Footer Menu"
    },
    {
      "type": "header",
      "content": "Contact Emails"
    },
    {
      "type": "text",
      "id": "general_email",
      "label": "General Inquiries Email",
      "default": "info@honorthegift.co"
    },
    {
      "type": "text",
      "id": "orders_email",
      "label": "Order Inquiries Email",
      "default": "help@honorthegift.co"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>

  <symbol id="htg-logo"  viewBox="0 0 165 17">
    <g fill="black" clip-path="url(#clip0_114_1528)"><path d="M9.84764 16.7059V.300293H7.39151V6.59018h-4.9296V.300293H0V16.7059h2.46191V8.81183h4.9296v7.89407h2.45613ZM18.1758 17c3.8836 0 5.4613-2.5679 5.4613-8.85777C23.6371 2.51018 22.0074 0 18.3434 0c-3.6639 0-5.4381 2.65445-5.4381 8.35574 0 5.97826 1.6297 8.65576 5.2705 8.65576V17Zm.1214-14.8649c1.7337 0 2.8087 1.07909 2.8087 6.45146 0 4.51254-.838 6.34754-2.8896 6.34754-1.4506 0-2.7913-.7963-2.7913-6.54951 0-4.44331.8322-6.25526 2.8895-6.25526M33.9991 16.7059h3.0167V.300293H34.629V12.5107L29.7745.300293h-3.0167V16.7059h2.3868V4.4897l4.8545 12.2162ZM50.8566 8.14223C50.8566 2.51018 49.2096 0 45.5456 0c-3.664 0-5.4382 2.65445-5.4382 8.35574 0 5.97826 1.624 8.65576 5.2706 8.65576 3.8778-.0115 5.4786-2.5852 5.4786-8.86927Zm-5.4555 6.78617c-1.4448 0-2.7855-.7964-2.7855-6.54958 0-4.44331.8322-6.25526 2.8895-6.25526 1.7338 0 2.8087 1.07909 2.8087 6.45146 0 4.51258-.838 6.34758-2.8896 6.34758M64.0964 16.3366c-.4297-.808-.6295-1.718-.5779-2.6314-.1271-3.67-.393-4.99724-1.9187-5.60891 1.3061-.63476 1.9649-1.84657 1.9649-3.6239.0445-.7033-.1056-1.40526-.4338-2.02913-.3282-.62386-.8219-1.14562-1.427-1.508208C60.9988.47918 60.103.300293 58.5773.300293h-4.6984V16.7348h2.4388V9.12921h1.6644c1.3176 0 1.8146.0981 2.2423.46165.4276.36354.6415 1.11374.7108 2.98914.1041 2.7006.1792 3.4623.5779 4.0047l.0809.1212h2.5313l-.0289-.3693Zm-3.9182-9.70603c-.598.37369-1.3035.53813-2.0054.46742h-1.8551V2.395h1.9013c.6112-.01257 1.2193.09123 1.7916.30584.3579.17835.6524.46215.8437.81304.1912.35089.2699.75194.2254 1.14894.0324.37777-.0336.7575-.1915 1.10229-.158.34479-.4026.64293-.71.86546ZM76.6312 16.7059V2.53926h3.9876V.300293H70.147V2.53926h4.028V16.7059h2.4562ZM82.6069.300293V16.7059h2.4562V8.81183h4.9353v7.89407h2.4562V.300293h-2.4562V6.59018h-4.9353V.300293h-2.4562ZM104.244 2.53926V.300293h-8.7264V16.7059h8.9634V14.467h-6.5073V9.27348h5.9123V7.05759h-5.9123V2.53926h6.2703ZM116.952 2.10048c1.485 0 2.312.96367 2.404 2.88526v.24814h2.451v-.28853C121.732 1.80618 119.957 0 116.941 0c-3.711 0-5.369 2.63136-5.369 8.52885 0 2.96025.404 5.05495 1.231 6.39375.4.6497.964 1.1833 1.635 1.5478.672.3645 1.427.5471 2.191.5296.652.0365 1.303-.0969 1.889-.3873.585-.2903 1.085-.7275 1.451-1.2688v1.3272h2.005V7.6979h-5.49v2.11201h3.144c.023 1.11549-.101 2.22919-.37 3.31229-.14.5162-.445.9728-.869 1.3007-.423.328-.942.5094-1.477.517-1.324 0-2.838-.6924-2.838-6.0475 0-5.00883.751-6.78038 2.89-6.78038M127.586.300293h-2.485V16.7059h2.485V.300293ZM130.729 16.7059h2.48V9.2504h5.842V7.05759h-5.842V2.53926h6.201V.300293h-8.681V16.7059ZM140.901 2.53926h4.028V16.7059h2.456V2.53926h3.982V.300293h-10.466V2.53926ZM158.781.115177c-.938-.041769-1.872.142478-2.724.537185-.852.394708-1.597.988288-2.171 1.730638-.884 1.29837-1.317 3.20265-1.317 5.98404 0 2.88526.41 4.85306 1.289 6.22066.878 1.3676 2.716 2.3082 4.802 2.3082 2.312 0 4.08-.8194 5.022-2.3082.896-1.3792 1.295-3.3181 1.295-6.2899 0-2.71793-.428-4.65105-1.301-5.9148C162.7.940363 160.902.115177 158.781.115177Zm-.069 15.286123c-3.155 0-4.565-2.0889-4.565-6.76881 0-2.30822.341-4.15479.953-5.23965.613-1.08486 1.936-1.69654 3.705-1.69654 1.768 0 3.022.57706 3.681 1.69654.659 1.11949.953 2.9372.953 5.19348 0 4.84148-1.369 6.81498-4.727 6.81498Z"/><path d="M161.637 11.8411c-.064-2.23893-.168-3.0295-.948-3.43343.33-.2276.596-.53726.77-.8985.175-.36123.252-.76157.224-1.16159.012-.4165-.074-.83006-.252-1.20707-.177-.37701-.442-.70683-.771-.96265-.462-.35777-.954-.46741-2.092-.46741h-2.531v9.41175h1.537V9.14629h.815c1.398 0 1.577.12696 1.606 2.27361-.053.5476.034 1.0999.255 1.6042l.052.0981h1.629l-.104-.2481c-.142-.3256-.211-.6781-.202-1.033h.012Zm-1.902-4.38557c-.26.25967-.52.32315-1.323.32315h-.838v-2.5852h.774c.844 0 1.075.0577 1.301.20774.147.13288.261.29773.334.48183.073.1841.103.38252.087.57995.013.36663-.103.72613-.329 1.01561"/></g><defs><clipPath id="clip0_114_1528"><path fill="white" d="M0 0h165v17H0z"/></clipPath></defs>
  </symbol>
</svg>


