{% comment %} {{ 'template-collection.css' | asset_url | stylesheet_tag }} {% endcomment %}
{% comment %} {{ 'component-product-card.css' | asset_url | stylesheet_tag }} {% endcomment %}

<link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'lookbook-collab-shop.css' | asset_url }}" media="print" onload="this.media='all'">

{% comment %}These are important inline styles to load above the fold perfectly without having to load CSS files.{% endcomment %}

{% style %}

/*------------------------------------*\
    #Product Card
\*------------------------------------*/

.product-card-wrapper {
  color: inherit;
  height: 100%;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.product-card {
  text-align: left;
  text-decoration: none;
  color: rgb(var(--color-base-text));
}

.product-card:hover .media img:first-child,
.product-card:focus .media img:first-child {
  opacity: 0;
}

.product-card:hover *,
.product-card:focus {
  text-decoration: none;
}


.product-card__media {
  width: 100%;
  position: relative;
  margin-bottom: var(--level2);
}

.product-card__media .media img:first-child {
  z-index: 1;
}

.product-card__media img {}

.product-card.product-card--sold-out {
  color: rgba(var(--color-base-link));
}





/*------------------------------------*\
    #Product Card Information
\*------------------------------------*/


.product-card__information {
  display: flex;
  justify-content: space-between;
  color: rgb(var(--color-base-text));
  text-decoration: none;
}

.product-card__heading {
  text-transform: capitalize;
  font-size: var(--micro);
  padding-right: var(--level1);
}

@media only screen and (min-width: 930px) {
  .product-card__heading {
    font-size: var(--normal);
    max-width: 10.5rem;
  }
}

.product-card__price {
  text-transform: capitalize;
  font-size: var(--micro);
}

@media only screen and (min-width: 930px) {
  .product-card__price {
    font-size: var(--normal);
  }
}





/*------------------------------------*\
    #Product Card Badge
\*------------------------------------*/


.product-card__badge {
  position: absolute;
  text-transform: uppercase;
  font-size: var(--micro);
  top: var(--level1);
  left: var(--level1);
  z-index: 3;
  letter-spacing: 2px;
}

@media only screen and (min-width: 930px) {
  .product-card__badge {
    font-size: var(--normal);
    top: var(--level2);
    left: var(--level2);
  }
}

.product-card__badge__text--sold-out {
  color: #fa0000;
}


.card__badge {
  align-self: flex-end;
  grid-row-start: 3;
  justify-self: flex-start;
}

.card__badge.top {
  align-self: flex-start;
  grid-row-start: 1;
}

.card__badge.right {
  justify-self: flex-end;
}

.card>.card__content>.card__badge {
  margin: 1.3rem;
}

.card__media .media img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.card__inner:not(.ratio)>.card__content {
  height: 100%;
}

.card__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.card__heading:last-child {
  margin-bottom: 0;
}

.card--card.card--media>.card__content {
  margin-top: calc(0rem - var(--card-image-padding));
}

.card--standard.card--text a::after,
.card--card .card__heading a::after {
  bottom: calc(var(--card-border-width) * -1);
  left: calc(var(--card-border-width) * -1);
  right: calc(var(--card-border-width) * -1);
  top: calc(var(--card-border-width) * -1);
}

.card__heading a::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.card__heading a:after {
  outline-offset: 0.3rem;
}

.card__heading a:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.card__heading a:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.card__heading a:focus:not(:focus-visible):after {
  box-shadow: none;
  outline: 0;
}

.card__heading a:focus {
  box-shadow: none;
  outline: 0;
}


{% endstyle %}



{% assign collection = section.settings.collection %}

<section class="lookbook-collab-shop {% if section.settings.top_border == 'yes' %}has-top-border{% endif %} {% if section.settings.bottom_border == 'yes' %}has-bottom-border{% endif %}" style="
    {% if section.settings.bg_color == 'background-1' %}
        background-color: rgb(var(--color-base-background-1));
    {% endif %}
    {% if section.settings.bg_color == 'background-2' %}
        background-color: rgb(var(--color-base-background-2));
    {% endif %}
    {% if section.settings.bg_color == 'background-3' %}
        background-color: rgb(var(--color-base-background-3));
    {% endif %}
    ">

    <div class="lookbook-collab-shop__inner page-width"> 
        <div class="lookbook-collab-shop__header">
            <h2 class="lookbook-collab-shop__heading">
                {{ section.settings.heading }}
            </h2>
        </div>

        {% assign products = collection.products %}
        <div class="lookbook-collab-shop__products-container">
        
            <ul class="lookbook-collab-shop__products">
                {% for product in products  limit: 16 %}
                    <li class="grid__item">
                        {% render 'product-card',
                        heading_level: 'h3',
                        card_product: product,
                        show_quick_add: true,
                        section_id: section.id,
                        product_collection: collection
                        %}
                    </li>
                {% endfor %}
            </ul>
        </div>


        <div class="lookbook-collab-shop__cta">
        
            <a href="{{ collection.url }}" rel="internal" class="styled-link">
                Shop Full Collection
            </a>
        </div>

    </div>
</section>



{% schema %}
{
  "name": "Lookbook Collab Shop",
  "templates": [
    "page"
  ],
  "settings": [
    {
      "type": "text",
      "label": "Section Heading",
      "id": "heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection",
      "info": "The collection products will pull from"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Copy Background Color",
      "info": "Pulled from Theme Settings > Background Colors",
      "options": [
        {
          "value": "background-1",
          "label": "Bakground 1"
        },
        {
          "value": "background-2",
          "label": "Bakground 2"
        },
        {
          "value": "background-3",
          "label": "Bakground 3"
        }
      ],
      "default": "background-2"
    },
    {
      "type": "radio",
      "id": "top_border",
      "label": "Top Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "no"
    },
    {
      "type": "radio",
      "id": "bottom_border",
      "label": "Bottom Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "yes"
    }
  ],
  "presets": [
    {
      "name": "Lookbook Collab Shop"
    }
  ]
}
{% endschema %}