{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-collection-filter.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'quick-add-color-picker.js' | asset_url }}" defer="defer"></script>

  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
 
  {% style %}
    .quick-add-form{
      opacity: 0;
    }
    .quick-add-button {
      opacity: 0; 
    }

    collection-filters {
      opacity: 0 ;
      width: 100%; 
    }

    .collection-filters {
      background-color: #fff;
      position: relative;
      z-index: 1;
      margin-bottom: var(--level8);
      width: 100%;
  }

  @media only screen and (min-width: 600px) {
    .collection-filters {
        max-width: 22rem;
        margin-right: 0;
        margin-left: auto;
    }
}
  {% endstyle %}

{% assign show = true %}

{% if section.settings.child_collection == true %}
    {% if current_tags[0] == null %}
      {% assign show = false %}
    {% endif %}
{% endif %}

{% if show %}

  <div class="section-{{ section.id }}-padding"   data-collection-id="{{ collection.handle }}">
    <div>
     
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}

      <aside aria-labelledby="verticalTitle" class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}" id="main-collection-filters" data-id="{{ section.id }}">
        {% render 'facets', results: collection.products %}
      </aside>

      {% assign paginationNum = 12 %}
      <collection-grid data-paginate-by="{{ paginationNum }}"  data-collection-count="{{ collection.products.length }}">
        <div class="product-grid-container" id="ProductGridContainer">
            <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
              <div class="loading-overlay gradient"></div>
      
              <ul id="AjaxinateContainer" data-id="{{ section.id }}" class="
                grid product-grid">
                {% paginate collection.products by 1000 %}
                  {%- for product in collection.products -%}
                    <li class="grid__item" data-product-id="{{ product.id }}">
                      {% render 'product-card',
                        heading_level: 'h3',
                        card_product: product,
                        show_quick_add: section.settings.enable_quick_add,
                        section_id: section.id
                        product_collection: collection
                      %}
                
                    </li>
                  {%- endfor -%}
                {% endpaginate %}
              </ul>
            </div>
            {% if collection.products.length > paginationNum %}
              <script src="{{ 'load-more-products-button.js' | asset_url }}" defer="defer"></script>
              <load-more-products-button data-paginate-by="{{ paginationNum }}"  data-collection-total="{{ collection.products.length }}">
                <div class="load-more-products-button-container">
                  <button class="button button--primary  button--medium load-more-products-button" aria-label="Load more products in collection">Load More</button>
                </div>
              <load-more-products-button>
            {% endif %}
        </div>
      </collection-grid>
    </div>
  </div>
{% endif %}

<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'lodash.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>


{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "child_collection",
      "default": false,
      "info": "Turn this on only if this product grid will appear when a user gets to this page via a 'Shop All' link",
      "label": "Shop All Collection Page"
    }
  ]
}
{% endschema %}