{% comment %}theme-check-disable TemplateLength{% endcomment %}
{% comment %} {{ 'section-main-product.css' | asset_url | stylesheet_tag }} {% endcomment %}
{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}


{%style%}

.product-zoom-modal {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (min-width: 769px) {
    .product-zoom-modal.is-visible {
        pointer-events: all;
        opacity: 1;
    }
}


.breadcrumbs--product-page {
  margin-bottom: var(--level5);
  display: none;
}

/*------------------------------------*\
    #Product Page
\*------------------------------------*/


.product {
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 930px) {
  .product {
    flex-direction: row;
    margin-bottom: 10rem;
    max-width: 107rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--level7);
    padding-right: var(--level7);
  }
}

.product-section {
  padding-bottom: 0;
}




/*------------------------------------*\
    #Product Media 
\*------------------------------------*/

@media screen and (min-width: 700px) {
  .product__media-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 930px) {
  .product__media-wrapper {
    padding-right: var(--level4);
    width: 50vw; 
  }
}


@media screen and (min-width: 1400px) {
  .product__media-wrapper {
    width: 52vw;
  }
}


@media screen and (min-width: 1600px) {
  .product__media-wrapper {
    width: 50vw;
  }
}


@media screen and (min-width: 2000px) {
  .product__media-wrapper {
    width: 44vw;
  }
}





/*------------------------------------*\
    #Product Images Slideshow
\*------------------------------------*/

.product-images-slideshow .slide:hover {
  cursor: zoom-in;
}


.product-images--mobile {
  display: block;
}

.product-images-slideshow {
  padding-bottom: 100% !important;
  position: relative;
  background: white;
  margin-bottom: var(--level7);
  background-color: #f0ece8;
  overflow: hidden;
}

@media only screen and (min-width:930px) {
  .product-images-slideshow {
    margin-bottom: var(--level3);
  }
}


.product-images-slideshow__inner {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.product-images-slideshow__image-container {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.product-images-slideshow__image-container img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
}


.product-images-slideshow__pagination {
  width: 100%;
  padding-bottom: var(--level2);
  color: #fff;
  display: flex;
  justify-content: center;
  z-index: 10;
  position: absolute;
  bottom: 0;
}

.product-images-slideshow__pagination .swiper-pagination-bullet {
  border: 1.5px solid black;
  width: .4rem;
  height: .4rem;
  opacity: 1;
  margin: .2rem !important;
  transition: all .2s ease;
}

.product-images-slideshow__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(.7);
  background-color: transparent;
}


@media only screen and (min-width: 930px) {

  .product-images-slideshow-thumbs {
    position: relative;
    overflow: hidden;
    width: 100%; 
  }

  .product-images-slideshow-thumbs ul .product-images-slideshow-thumbs__thumbnail-container {
    position: relative;
    white-space: nowrap; 
  }
  
  .product-images-slideshow-thumbs ul .product-images-slideshow-thumbs__thumbnail-container:nth-child(4n + 1):before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    height:1px; /* a small height */
    width:calc(400% + 3*10px); /* we consider 3 gaps here */
    pointer-events: none; /* avoid any interaction */
  }

  .product-images-slideshow-thumbs ul {
    display: grid;
    width: 100%;
    grid-auto-columns: calc((100% - 3*14px)/4); /* we remove 3 gaps here */
    column-gap: 14px;
    overflow: hidden;
    grid-auto-flow: column;
  }

  .product-images-slideshow-thumbs ul.swiper-wrapper {
    overflow: visible; 
    column-gap: 0;
    grid-auto-columns: unset; 
  }

  .product-images-slideshow-thumbs__thumbnail {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    width: auto;
    background-color: #f0ece8;
  }

  .product-images-slideshow-thumbs__thumbnail:hover {
    opacity: .7;
    cursor: pointer;
  }

  .product-images-slideshow-thumbs__thumbnail img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}





/*------------------------------------*\
    #Product Info
\*------------------------------------*/


.product__info-wrapper {
  padding-left: var(--level4);
  padding-right: var(--level4);
  max-width: 42rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .product__info-wrapper {
    width: 83%;
  }
}



@media screen and (min-width: 930px) {
  .product__info-wrapper {
    margin-top: 2.5vw;
    padding-left: 0;
    width: 83%;
  }
}



.product__info-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


@media screen and (min-width: 930px) {
  .product__info-container {
    min-width: 22rem;
    width: 22vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1381px) {
  .product__info-container {
    max-width: 30rem;
    min-width: 27rem;
  }
}





/*------------------------------------*\
    #Product Title
\*------------------------------------*/


.product__title {
  font-size: var(--h4);
  font-family: var(--tertiary-font-family);
  margin-bottom: var(--level2);
}

@media screen and (min-width: 700px) {
  .product__title {
    font-size: var(--h4);
  }
}

@media screen and (min-width: 930px) {
  .product__title {
    font-size: var(--h3);
    margin-bottom: var(--level3);
  }
}





/*------------------------------------*\
    #Product Price
\*------------------------------------*/

.product .price {
  font-size: var(--h6);
  font-family: var(--tertiary-font-family);
  letter-spacing: var(--letter-spacing-1);
  margin-bottom: var(--level5);
}

@media screen and (min-width: 700px) {
  .product .price {
    font-size: var(--h5);
    margin-bottom: var(--level5);
  }
}

@media screen and (min-width: 930px) {
  .product .price {
    font-size: var(--h4);
    margin-bottom: var(--level7);
  }
}

.product .price {
  align-items: flex-start;
}

.product .price--sold-out {
  color: rgb(var(--color-base-text));
}

.product .price--sold-out .price__badge-sale {
  display: none;
}





/*------------------------------------*\
    #Product Content
\*------------------------------------*/

.product__content {
  display: grid;
  grid-template-areas: 'top-content'
    'bottom-content';
  margin-bottom: var(--level4);
}

.product__content__information {
  grid-area: top-content;
  margin-bottom: var(--level9);
}

@media only screen and (min-width: 930px) {
  .product__content__information {
    max-width: 24rem;
  }
}

.product__content__form {
  grid-area: bottom-content;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin-top: -1.75rem;
  padding-top: 1rem;
}

@media only screen and (min-width: 930px) {
  .product__content__form {
    flex-direction: column;
  }
}

.product__content__form:before {
  content: " ";
  z-index: 0;
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100%;
  left: calc(var(--level4) * -1);
  right: 0;
  bottom: 0;
  padding-top: 1rem;
}

@media only screen and (min-width: 930px) {
  .product__content__information {
    grid-area: bottom-content;
  }

  .product__content__form {
    grid-area: top-content;
    position: relative;
  }

  .product__content__form:before {
    content: none;
  }
}





/*------------------------------------*\
    #Product Text
\*------------------------------------*/


.product__text {
  max-width: 27rem;
  margin-bottom: var(--level6);
}

.product__text p {
  font-size: var(--normal);
}

@media only screen and (min-width: 930px) {
  .product__text p {
    font-size: var(--micro);
  }
}





/*------------------------------------*\
    #Product Description
\*------------------------------------*/


.product__description {
  font-family: var(--secondary-font-family);
  font-size: var(--normal);
  margin-bottom: calc(var(--level5) * 2);
}


@media screen and (min-width: 700px) {
  .product__description {}
}

@media screen and (min-width: 930px) {
  .product__description {}
}




.product__description-headline {
  font-size: var(--h6);
  font-family: var(--primary-font-family);
  margin-bottom: var(--level3);
  text-transform: uppercase;
}







/*------------------------------------*\
    #Product Form
\*------------------------------------*/

.product-form {
  display: block;
  margin-bottom: var(--level4);
  width: 100%;
}

@media only screen and (min-width: 930px) {
  .product-form {
    margin-bottom: var(--level6);
    max-width: 20rem;
  }
}


.product-form__input {
  flex: 0 0 100%;
  padding: 0;
  width: 100%;
  position: relative;
}

.product-form__input label {
  text-transform: uppercase;
  font-size: var(--h5);
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  padding-top: var(--level4);
  padding-bottom: var(--level4);
  line-height: 1;
}



.product-form__input fieldset {
  padding: 0 !important;
}


.product-form__input--quantity {
  display: none;
}

variant-selects {
  width: 47%;
}

.product-form__input--dropdown {
  position: relative;
  border: 1px solid rgb(var(--color-base-text));
  border-right: 0;
  background-color: #fff;
  ;

}

.product-form__input--dropdown label {
  padding-right: 1.25rem;
}

.product-form__input--dropdown label .dropdown-label-current-option {
  margin-left: 10%;
}

.product-form__input--dropdown select {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  opacity: 0;
}

.product-form__input--dropdown[disabled] {
  opacity: .35;
}

.product-form__input--dropdown svg {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1rem;
  padding-bottom: .25rem;
  pointer-events: none;
}

.product-form__input--dropdown select:hover {
  cursor: pointer;
}

variant-radios,
variant-selects {
  display: block;
}


.product-form__variant-options {}

.product-form__variant-options__options {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--level5);
  max-width: 30rem; 
  flex-wrap: wrap;
}

.product-form__variant-options__option {
  position: relative;
}


.product-form__variant-options__label {
  display: flex;
  text-transform: uppercase;
  margin-bottom: var(--level1);
  display: block;
  margin-right: .25rem;
}


.product-form__variant-options__option label {
  padding-left: 0;
  font-size: var(--h6);
  font-family: var(--tertiary-font-family);
  letter-spacing: var(--letter-spacing-1);
  margin-bottom: 0.2rem;
}


.product-form__input .form__current-option-label {
  font-family: var(--secondary-font-family);
  margin-right: var(--level2);
}


.form__label__text {
  margin-right: var(--level2);
}

.product-form__input .form__current-option-label {
  font-family: var(--secondary-font-family);
  margin-right: var(--level2);
}

.product-form__variant-options__option {
  margin-right: .35rem;
}

.product-form__variant-options__option input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 0;
}

.product-form__variant-options__option input[type='radio']+label {
  display: inline-block;
  font-size: var(--normal);
  line-height: 1;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-top: 0;
  height: 3.25rem;
  width: 3.55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 1px solid rgb(var(--color-base-text));
  font-family: var(--primary-font-family);
}

.product-form__variant-options__option input[type='radio']+label:hover {
  cursor: pointer;
  background-color: black;
  color: #fff;
}


.product-form__variant-options__option input[type='radio']:checked+label {
  background-color: black;
  color: #fff;
}

.product-form__variant-options__option input[type='radio']:disabled,
.product-form__variant-options__option input[type='radio']:disabled+label {
  pointer-events: none;
}


.product-form__variant-options__option input[type='radio']:disabled+label {
  opacity: .3;
}



.product-form__input__variant input[type='radio']:disabled+label {
  opacity: .5;
  pointer-events: none;
}

.product-form__input__variant input[type='radio']:focus-visible+label {
  outline: -webkit-focus-ring-color auto 1px;
}

/* Fallback */
.product-form__input input[type='radio']:focus+label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* No outline when focus-visible is available in the browser */
.product-form__input input[type='radio']:focus:not(:focus-visible)+label {
  box-shadow: none;
}

.product-form__input .select {
  max-width: 25rem;
}



/*------------------------------------*\
    #Product Submit Button
\*------------------------------------*/


.product-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding-top: var(--level4);
  padding-bottom: var(--level4);
  font-size: var(--h5);
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 930px) {
  .product-form__submit {
    padding-top: var(--level2);
    padding-bottom: var(--level2);
  }
}

.product-form__submit[disabled="true"] {
  pointer-events: none;
}


.product-form__submit__icon {
  width: 1.25rem;
  height: 1.15rem;
  position: relative;
  top: -.15rem;
  margin-right: var(--level3);
}

.product-form__submit:hover .product-form__submit__text,
.product-form__submit:focus .product-form__submit__text {
  color: #fff;
  width: 100%;
}


.product-form__submit__text {
  color: rgb(var(--color-base-text));
}

.product-form__submit[disabled] {
  opacity: .35;
}

.product-form__submit[disabled]+.shopify-payment-button {
  display: none;
}

/* Overrides */
.shopify-payment-button__more-options {
  color: rgb(var(--color-foreground));
}

.shopify-payment-button__button {
  font-size: 1.5rem;
  letter-spacing: .1rem;
}





/*------------------------------------*\
    #Product Custom Color Picker
\*------------------------------------*/

.custom-color-picker {
  margin-bottom: var(--level6);
}


.custom-color-picker__colors {
  display: flex;
}

.custom-color-picker__current-color {
  display: flex;
  text-transform: uppercase;
}

.custom-color-picker__current-color__label {
  margin-bottom: var(--level1);
  display: block;
  margin-right: .25rem;
}


.custom-color-picker__color {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: var(--level1);
}

@media only screen and (min-width: 930px) {
  .custom-color-picker__color {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: var(--level1);
  }
}

.custom-color-picker__color label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.custom-color-picker__color label:hover {
  cursor: pointer;
}

.custom-color-picker__label__swatch {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 100%;
}

.custom-color-picker__color input {
  opacity: 0;
  position: absolute;
  z-index: 0;
}

.custom-color-picker__label:hover .custom-color-picker__label__swatch,
.custom-color-picker__label:focus .custom-color-picker__label__swatch {
  border: 2px solid black;
}


.custom-color-picker__color input:checked+label .custom-color-picker__label__swatch {
  border: 1.5px solid rgb(var(--color-base-text));
}






/*------------------------------------*\
    #Size Charts
\*------------------------------------*/


.size-chart p {
  margin-bottom: .5rem;
}



.size-chart table p {
  margin-bottom: 0;
  max-width: 20rem;
  white-space: normal;
  font-size: var(--mini);
}



.size-chart table {
  width: 100% !important;
  left: -0.2rem;
  display: block;
  position: relative;
  table-layout: fixed;
}

.size-chart tbody {
  width: 100%;
}

.size-chart tr {
  border-bottom: 1px solid rgba(var(--color-base-link), .4);
  height: 20px !important;
  position: relative;
  width: 100%;
}

.size-chart tr:last-child {
  border-bottom: 0;
}

/* .size-chart tr td:first-child {
  width: 100px;
} */

.size-chart tr em {
  font-size: .7rem;
  position: absolute;
  top: .4rem;
  transform: translateX(.2rem);
  padding-top: var(--level1);
}

@media screen and (min-width: 930px) {
  .size-chart tr em {
    font-size: .6rem;
  }
}

.size-chart td {
  padding: 6px;
  height: 10px;
  min-width: 2.5rem;
  height: 20px !important;
  text-align: left;
  padding-top: var(--level1);
  padding-bottom: var(--level1);
  color: rgba(var(--color-text-foreground), 1) !important;
  font-size: var(--mini);
  white-space: wrap;
}

.size-chart tbody tr td:not(:first-child),
.size-chart tbody tr td:not(:first-child) p {
  white-space: nowrap;
}


.size-chart tbody tr:first-child {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: var(--mini);
}

.size-chart tbody tr td:first-child {
  text-transform: uppercase;
  min-width: 5rem;
  font-size: var(--mini);
}


.size-chart tbody tr:nth-child(even) {}




/* Dynamic checkout */

.shopify-payment-button__button {
  border-radius: 0;
  min-height: 4.6rem;
  overflow: hidden;
}

.shopify-payment-button__button--unbranded {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border));
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.07rem;
}

.shopify-payment-button__button--unbranded:hover,
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), var(--alpha-button-border));
}

.shopify-payment-button__button--unbranded:focus {
  outline: 0.3rem solid rgb(var(--color-foreground));
  outline-offset: 0.3rem;
}

.shopify-payment-button__button--unbranded:focus-visible {
  outline: 0.3rem solid rgb(var(--color-foreground));
  outline-offset: 0.3rem;
}

.shopify-payment-button__button--unbranded:focus:not(:focus-visible) {
  outline: 0;
}

.shopify-payment-button__more-options {
  margin: 1.6rem 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}


/* Product popup */

.product-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(var(--color-foreground), 0.2);
  height: 100%;
}

.product-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.product-popup-modal__content {
  background-color: rgb(var(--color-background));
  overflow: auto;
  height: 80%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1.5rem 0 3rem;
}

@media screen and (min-width: 750px) {
  .product-popup-modal__content {
    padding-right: 1.5rem;
    margin-top: 10rem;
    width: 70%;
    padding: 0 3rem;
  }
}

.product-popup-modal__content img {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }
}

.product-popup-modal__opener {
  display: block;
}

.product-popup-modal__button {
  font-size: 1.6rem;
  padding-right: 1.3rem;
  padding-left: 0;
  height: 4.4rem;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.product-popup-modal__button:hover {
  text-decoration-thickness: 0.2rem;
}

.product-popup-modal__content-info {
  padding-right: 4.4rem;
}

.product-popup-modal__content-info>* {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content-info>* {
    max-height: 100%;
  }
}

.product-popup-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1.5rem;
  width: 4rem;
  margin: 0 0 0 auto;
}

.product-popup-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.product-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}



.zoom-image-indicator {
    position: absolute;
    z-index: 1;
    background: transparent;
    width: 3.5rem;
    top: var(--level2);
    right: var(--level1);
    outline: none;
    border: none;
    height: 3.5rem;
    transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
}

{%endstyle%}


<link rel="preload" href="{{ 'vendor-swiper.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-accordion.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-breadcrumbs.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript><link rel="stylesheet" href="{{ 'vendor-swiper.css' | asset_url }}"></noscript>
<noscript><link rel="stylesheet" href="{{ 'component-accordion.css' | asset_url }}"></noscript>
<noscript><link rel="stylesheet" href="{{ 'component-breadcrumbs.css' | asset_url }}"></noscript>


<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">


<a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
  {{ "accessibility.skip_to_product_info" | t }}
</a>

<div class="page-width master-padding-top  {% if template contains 'product' %}master-padding-top--product-page {% endif %}">
  {% render 'breadcrumbs' %}
</div>


<div class="product" data-product-container data-section="{{ section.id }}">


  <product-images-slideshow class="product__media-wrapper large--one-half text-center  product-images product-images--mobile">
    <div data-product-images-slideshow class="product-images-slideshow">
      <ul class="slides  product-images-slideshow__inner"  data-product-images-slideshow-wrapper>
      {% for image in product.images %}
        {% unless image.alt contains 'swatch' %}
        <li class="slide"  data-product-images-slideshow-slide  data-product-images-modal-open data-id="{{ forloop.index }}">
          <button class="zoom-image-indicator" data-id="{{forloop.index}}" aria-label="Image can be zoomed in" data-product-images-modal-open >
            {%render 'icon-zoom-in'%}
          </button>
          <div class="product-images-slideshow__image-container">

            {%if forloop.index == 1%}
            <img
              srcset="{%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if image.width >= 940 -%}{{ image | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if image.width >= 1066 -%}{{ image | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ image | image_url }} {{ image.width }}w"
              src="{{ image | image_url: width: 533 }}"
              sizes="(min-width: 1200px) 45vw, (min-width: 930px) 100vw-60vw, 90vw"
              alt="{{ image.alt | escape }}"
              class="motion-reduce"
              aria-hidden="true"
              width="{{ image.width }}"
              height="{{ image.height }}"
            >
              {%else%}
              <img
                srcset="{%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if image.width >= 940 -%}{{ image | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if image.width >= 1066 -%}{{ image | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ image | image_url }} {{ image.width }}w"
                src="{{ image | image_url: width: 533 }}"
                sizes="(min-width: 1200px) 45vw, (min-width: 930px) 100vw-60vw, 90vw"
                alt="{{ image.alt | escape }}"
                class="motion-reduce"
                aria-hidden="true"
                loading="lazy"
                width="{{ image.width }}"
                height="{{ image.height }}"
              >
              {%endif%}
          </div>
        </li>
        {% endunless %}
      {% endfor %}
      </ul> 
      <div  data-product-images-slideshow-pagination class="product-images-slideshow__pagination product-images-slideshow__pagination--mobile">
      </div>
    </div>

    <div data-product-images-slideshow-thumbs class="product-images-slideshow-thumbs  show-for-large-up" >
      <ul  class="slides" data-product-images-slideshow-thumbs-wrapper>
        {% for image in product.images %}
          <li class="slide product-images-slideshow-thumbs__thumbnail-container"  data-product-images-slideshow-thumb   data-id="{{ forloop.index }}">
            <div class="product-images-slideshow-thumbs__thumbnail" role="button"  aria-label="Go to image {{ forloop.index }}"
              data-thumb
                 data-thumb-sizes="(min-width: 930px) calc(45vw / 4), 25vw"
                data-thumb-src="{{ image | image_url: width: 533 }}"
              data-thumb-srcset="{%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if image.width >= 200 -%}{{ image | image_url: width: 200 }} 200w,{%- endif -%}
              {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w {%- endif -%}"
            data-thumb-width="{{ image.width }}"
            data-thumb-height="{{ image.height }}"
            data-thumb-alt="{{ image.alt | escape }}" >
             
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </product-images-slideshow>

  <div class="product__info-wrapper">
    <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
      {%- assign product_form_id = 'product-form-' | append: section.id -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
       
        {%- when 'title' -%}
          <h1 class="product__title" {{ block.shopify_attributes }}>
            {{ product.title | escape }}
          </h1>
        {%- when 'price' -%}
          <div class="no-js-hidden" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
            {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
          </div>
          {% comment %} <div {{ block.shopify_attributes }}>
            {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
            {%- endform -%}
          </div> {% endcomment %}
        {%- endcase -%}
      {%endfor%}
      <div class="product__content">

        <div class="product__content__information">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'custom_color_picker' -%}
                <custom-color-picker class="hide-for-large-up" data-section="{{ section.id }}">
                  {% for collection in product.collections %}
    
                    {% assign activeProduct = product %}
                    {% assign collectionName = collection.title | downcase | handleize -%}
                    {% assign productName = product.title | downcase | split: " - " -%}
                    {% assign productNameHandle = productName[0] | handleize %}
              
                    {%- if productNameHandle == collectionName and product.metafields.color_swatch.name -%}
                      {% assign activeCollection = collection %}
                      <div class="custom-color-picker  x-product-form__input">
                        <fieldset>
                          <legend  class="custom-color-picker__current-color" >
                              <span class="custom-color-picker__current-color__label"><span class="visually-hidden">
                              Toggle</span>Color:</span>
                                  <span   data-color-container aria-hidden="true">
                                     {% for product in activeCollection.products %}
                                        {% if product.handle == activeProduct.handle %}
                                          {{ activeProduct.metafields.color_swatch.name }}
                                        {% endif %}
                                      {% endfor %}
                                  </span>
                          </legend>
                          <span class="custom-color-picker__colors">
                            {% for product in activeCollection.products %}
                              {% if product.metafields.color_swatch.name != blank and product.metafields.color_swatch.hex_color != blank %}
                                <span class="custom-color-picker__color {% if product.handle == activeProduct.handle %}is-selected{% endif %}">
                                      <input type="radio" 
                                        id="{{ section.id }}-{{ product.id }}-{{ product.metafields.color_swatch.name }}"
                                        name="color" 
                                        value="{{ product.metafields.color_swatch.name | escape }}"
                                        title="Shop {{ product.title }} in {{ product.metafields.color_swatch.name }}" 
                                        data-color-option
                                        data-product="{{ product | json | escape }}"
                                        data-color-name="{{ product.metafields.color_swatch.name | escape }}" 
                                        data-product-title="{{ product.title }}" 
                                        data-handle="{{ product.handle }}"
                                        data-product-url="{{ product.url }}"
                                        data-product-id="{{ product.id }}"
                                        data-product-first-variant="{{ product.selected_variant.id }}"
                                        data-swatch="{{ product.metafields.color_swatch.name }}"
                                        class="custom-color-picker__input"
                                        >
                                    <label class="custom-color-picker__label" for="{{ section.id }}-{{ product.id }}-{{ product.metafields.color_swatch.name }}" data-color-label data-color-name="{{ product.metafields.color_swatch.name }}">
                                      <span class="custom-color-picker__label__swatch" style="background-color: {{ product.metafields.color_swatch.hex_color }};">
                
                                      </span>
                                      <span class="custom-color-picker__label__ring">
                                      </span>
                                    </label>
                                </span>
                              {%endif%}
                            {% endfor %}
                          </span>
                        </fieldset>
                      </div> 
                    {%- endif -%}
                  {% endfor %}
                </custom-color-picker>
              
              {%- when 'text' -%}
                <div class="product__text">
                  <p class="" {{ block.shopify_attributes }}>
                    {{- block.settings.text -}}
                  </p>
                </div>
            {%- when 'description' -%}
              {%- if product.description != blank -%}
                <div class="product__accordion accordion  product-information" {{ block.shopify_attributes }}>
                  <details>
                    <summary>
                      <div class="summary__title">
                        <h2 class="h4 accordion__title">
                          Description
                        </h2>
                      </div>
                      {% render 'icon-caret' %}
                    </summary>
                    <div class="accordion__content rte" data-product-description-container>
                      {{ product.description }}
                    </div>
                  </details>
                </div>
              {%- endif -%}
            {%- when 'collapsible_tab' -%}
              {% if product.metafields.sizing.size_chart %}
              <div class="product__accordion accordion  product-information" {{ block.shopify_attributes }}>
                <details>
                  <summary>
                    <div class="summary__title">
                      <h2 class="h4 accordion__title">
                        {{ block.settings.heading | default: block.settings.page.title }}
                      </h2>
                    </div>
                    {% render 'icon-caret' %}
                  </summary>
                  <div class="accordion__content rte">
                    <div class="size-chart" data-size-chart aria-label="{{ product.metafields.sizing.size_chart.value.title }}">
                      {{ product.metafields.sizing.size_chart.value.content }}
                    </div>
                </details>
              </div>

              <script>
                document.addEventListener('DOMContentLoaded', function() {
                  document.querySelector('[data-size-chart]').querySelectorAll('tr').forEach(function(elem) {
                    elem.style.removeProperty("width");
                    elem.style.removeProperty("height");
                  });

                  document.querySelector('[data-size-chart]').querySelectorAll('td').forEach(function(elem) {
                    elem.style.removeProperty("width");
                    elem.style.removeProperty("height");
                  });

               
                  document.querySelector('[data-size-chart]').querySelectorAll('div').forEach(function(elem) {
                    elem.remove(); 
                  });
                }); 
              </script>
              {% endif %}
            {%- endcase -%}
            {%endfor%}
        </div>

        <div class="product__content__form">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
              {%- when 'quantity_selector' -%}
                <div class="product-form__input product-form__input--quantity" {{ block.shopify_attributes }}>
                  <label class="form__label" for="Quantity-{{ section.id }}">
                    {{ 'products.product.quantity.label' | t }}
                  </label>
                  <quantity-input class="quantity">
                    <button class="quantity__button no-js-hidden" name="minus" type="button">
                      <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                      {% render 'icon-minus' %}
                    </button>
                    <input class="quantity__input"
                        type="number"
                        name="quantity"
                        id="Quantity-{{ section.id }}"
                        min="1"
                        value="1"
                        form="product-form-{{ section.id }}"
                      >
                    <button class="quantity__button no-js-hidden" name="plus" type="button">
                      <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                      {% render 'icon-plus' %}
                    </button>
                  </quantity-input>
                </div>
            
              {%- when 'variant_picker' -%}
                {%- unless product.has_only_default_variant -%}
                     <variant-radios class="no-js-hidden  show-for-large-up" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                      {%- for option in product.options_with_values -%}
                        <div class="js product-form__variant-options">
                          <fieldset >
                            <legend class="product-form__variant-options__label" >
                                <span class="product-form__variant-options__label__text">
                                  {{ option.name }}: 
                                </span>
                                <span class="product-form__variant-options__current-option-label" role="presentation" data-current-option aria-hidden="true">
                                  {{ option.selected_value }}
                                </span>
                            </legend>
                            <div class="product-form__variant-options__options">
                              {%- for value in option.values -%}
                                <div class="product-form__variant-options__option">
                                  <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                                        name="{{ option.name }}-{{product.handle}}"
                                        value="{{ value | escape }}"
                                        form="product-form-{{ section.id }}"
                                        {% if option.selected_value == value %}checked{% endif %}
                                  >
                                  <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}" data-option-label data-option-name="{{ value | escape }}">
                                    {{ value }}
                                  </label>
                                </div>
                              {%- endfor -%}
                            </div>
                          </fieldset>
                        </div>
                      {%- endfor -%}
                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                    </variant-radios> 
                    
                    <variant-selects class="no-js-hidden hide-for-large-up" data-section="{{ section.id }}" data-url="{{ product.url }}" data-update-url="false" {{ block.shopify_attributes }}>
                      {%- for option in product.options_with_values -%}
                        <div class="product-form__input product-form__input--dropdown" data-select-container>
                          <label  for="Option-{{ section.id }}-{{ forloop.index0 }}">
                            {{ option.name }} <span data-option-text aria-hidden="true" class="dropdown-label-current-option"></span>
                          </label>
                            <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                              class="select__select"
                              name="options[{{ option.name | escape }}]"
                              form="{{ product_form_id }}"
                            > 
                              {%- for value in option.values -%}
                                <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                                  {{ value }}
                                </option>
                              {%- endfor -%}
                            </select>
                            {% render 'icon-caret' %}
                        </div>
                      {%- endfor -%}
  
                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                    </variant-selects>
                {%- endunless -%}
                <noscript>
                  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                    <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                    <div class="select">
                      <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                        {%- for variant in product.variants -%}
                          <option
                            {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                            {% if variant.available == false %}disabled{% endif %}
                            value="{{ variant.id }}"
                          >
                            {{ variant.title }}
                            {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                            - {{ variant.price | money | strip_html }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                </noscript>
              {%- when 'custom_color_picker' -%}
                <custom-color-picker class="show-for-large-up" data-section="{{ section.id }}">
                  {% for collection in product.collections %}
    
                    {% assign activeProduct = product %}
                    {% assign collectionName = collection.title | downcase | handleize -%}
                    {% assign productName = product.title | downcase | split: " - " -%}
                    {% assign productNameHandle = productName[0] | handleize %}
              
                    {%- if productNameHandle == collectionName and product.metafields.color_swatch.name -%}
                      {% assign activeCollection = collection %}
                      <div class="custom-color-picker  x-product-form__input">
                        <fieldset>
                          <legend  class="custom-color-picker__current-color" >
                              <span class="custom-color-picker__current-color__label"><span class="visually-hidden">
                              Toggle</span>Color:</span>
                                  <span   data-color-container aria-hidden="true">
                                     {% for product in activeCollection.products %}
                                        {% if product.handle == activeProduct.handle %}
                                          {{ activeProduct.metafields.color_swatch.name }}
                                        {% endif %}
                                      {% endfor %}
                                  </span>
                          </legend>
                          <span class="custom-color-picker__colors">
                            {% for product in activeCollection.products %}
                              {% if product.metafields.color_swatch.name != blank and product.metafields.color_swatch.hex_color != blank %}
                                <span class="custom-color-picker__color {% if product.handle == activeProduct.handle %}is-selected{% endif %}">
                                      <input type="radio" 
                                        id="{{ section.id }}-{{ product.id }}-{{ product.metafields.color_swatch.name }}-desktop"
                                        name="color_radios" 
                                        value="{{ product.metafields.color_swatch.name | escape }}"
                                        title="Shop {{ product.title }} in {{ product.metafields.color_swatch.name }}-desktop" 
                                        data-color-option
                                        data-product="{{ product | json | escape }}"
                                        data-color-name="{{ product.metafields.color_swatch.name | escape }}" 
                                        data-product-title="{{ product.title }}" 
                                        data-handle="{{ product.handle }}"
                                        data-product-url="{{ product.url }}"
                                        data-product-id="{{ product.id }}"
                                        data-product-first-variant="{{ product.selected_variant.id }}"
                                        data-swatch="{{ product.metafields.color_swatch.name }}-desktop"
                                        class="custom-color-picker__input"
                                        >
                                    <label class="custom-color-picker__label" for="{{ section.id }}-{{ product.id }}-{{ product.metafields.color_swatch.name }}-desktop" data-color-label data-color-name="{{ product.metafields.color_swatch.name }}">
                                      <span class="custom-color-picker__label__swatch" style="background-color: {{ product.metafields.color_swatch.hex_color }};">
                
                                      </span>
                                      <span class="custom-color-picker__label__ring">
                                      </span>
                                    </label>
                                </span>
                              {%  endif  %}
                            {% endfor %}
                          </span>
                        </fieldset>
                      </div> 
                    {%- endif -%}
                  {% endfor %}
                </custom-color-picker>
              {%- when 'buy_buttons' -%}
                <div  class="product-form" {{ block.shopify_attributes }}>
                  <product-form class="hide-for-large-up">
                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" data-active-product-id data-mobile class="hide-for-large-up">

                      <div class="product-form__buttons">
                        <button
                          type="submit"
                          name="add"
                          class="product-form__submit button button--full-width 
                                  button--secondary 
                            {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                        >
                          <span class="product-form__submit__text">
                             Add to Cart
                          </span>

                        </button>
                       
                      </div>
                    {%- endform -%}
                  </product-form>

                  <product-form class="show-for-large-up" data-section="{{ section.id }}" data-desktop >
                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" data-active-product-id  data-desktop class="show-for-large-up">

                      <div class="product-form__buttons">
                        <button
                          type="submit"
                          name="add"
                          class="product-form__submit button button--full-width 
                                  button--secondary 
                            {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                        >
                          <span class="product-form__submit__text">
                             Add to Cart
                          </span>

                        </button>
                       
                      </div>
                    {%- endform -%}
                  </product-form>
                </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<product-zoom-modal  data-zoom-script-url="{{ 'panzoom.min.js' | asset_url }}"  role="dialog" class="product-zoom-modal  is-hidden show-for-large-up" data-product-images-modal>
  <div class="product-zoom-modal__inner">
    <button class="product-zoom-modal__close" data-product-images-modal-close aria-label="Close product images modal">
      Close
    </button>
    <div class="product-zoom-modal__pagination-container">
      <div class="product-zoom-modal__pagination">
        <ul  class="product-images-slideshow__pagination__wrapper  product-zoom-modal__pagination" data-product-images-modal-slideshow-pagination>
            {% for image in product.images %}
                <li class="slide product-images-slideshow__pagination__thumb" 
                  data-images-scroller-thumb role="button" tabindex="0" 
                    data-id="{{forloop.index}}"
                    data-img-url="{{ image.src | img_url: '80x80' }}" alt="{{ image.alt | escape }}">
              

                </li>
            {% endfor %}
        </ul>
      </div>
    </div>
   
    <div class="product-zoom-modal__slideshow">
      <ul class="slides  product-zoom-modal__wrapper"  data-product-images-modal-slideshow>
      {% for image in product.images %}
        <li class="slide" data-id="{{ forloop.index }}" 
            data-product-images-modal-slideshow-slide  
            data-id="{{forloop.index}}"
            data-img-url="{{ image.src | img_url: '2000x2000' }}" alt="{{ image.alt | escape }}">
          
        </li>
      {% endfor %}
      </ul> 
    </div>
  </div>
</product-zoom-modal>



<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'custom-color-picker.js' | asset_url }}" defer="defer"></script>
<script type="module" src="{{ 'product-images.js' | asset_url }}" defer="defer"></script> 
<script src="{{'product-zoom-modal.js' | asset_url}}" defer="defer"></script>

<link rel="stylesheet" href="{{ 'product-zoom-modal.css' | asset_url }}" media="print" onload="this.media='all'">

<script>

{{product}}
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "custom_color_picker",
      "name": "Custom Color Picker",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "picker_label",
          "label": "Picker Label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "product-support",
      "name": "Product Support",
      "settings": [
        {
          "type": "text",
          "id": "headline",
          "default": "Text block",
          "label": "Headline"
        },
        {
          "type": "richtext",
          "id": "body",
          "label": "Body"
        }
      ]
    },
    {
      "name": "Size Chart",
      "type": "size-chart",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Chart Name"
        },
        {
          "type": "page",
          "id": "size-chart",
          "label": "Size Chart"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    }
  ]
}
{% endschema %}
