
<link rel="stylesheet" href="{{ 'section-blurb-section.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="blurb-section {% if section.settings.top_border == 'yes' %}has-top-border{% endif %} {% if section.settings.bottom_border == 'yes' %}has-bottom-border{% endif %}">
  <div class="blurb-section__inner">
      <div class="blurb-section__image-container">
          <div class="blurb-section__image">
              <img
                  srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.image.width >= 533 -%}{{ section.settings.image | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if section.settings.image.width >= 800 -%}{{ section.settings.image | image_url: width: 800 }} 800w,{%- endif -%}
                  {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if section.settings.image.width >= 1066 -%}{{ section.settings.image | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                  src="{{ section.settings.image | image_url: width: 533 }}"
                  sizes="(min-width: 700px) 50vw, 90vw"
                  alt="{{ section.settings.image.alt | escape }}"
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ section.settings.image.width }}"
                  height="{{ section.settings.image.height }}"
              >
          </div>
      </div>
      <div class="blurb-section__copy">
          <div class="blurb-section__copy__inner">
              <h2 class="blurb-section__copy__heading">
                  {{ section.settings.heading }}
              </h2>
              
              <div class="blurb-section__copy__body">
                  {{ section.settings.body }}
              </div>

              {% if section.settings.section_cta_url != blank %}
              <div  class="blurb-section__copy__body__cta">
                  <a href="{{ section.settings.section_cta_url }}">
                      {{ section.settings.section_cta_text }}
                  </a>
              </div>
              {% endif %}
          </div>
      </div>
  </div>
</section>

{% schema %}
{
  "name": "Blurb Section",
  "templates": [
    "index",
    "page"
  ],
  "settings": [
    {
      "type": "header",
      "content": "Copy"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Section Body"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Section Image"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "radio",
      "id": "section-alignment",
      "label": "Section Order on Desktop",
      "options": [
        {
          "value": "normal",
          "label": "Image on Left"
        },
        {
          "value": "flipped",
          "label": "Image on Right"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "copy-bg-color",
      "label": "Copy Background Color",
      "options": [
        {
          "value": "background-1",
          "label": "Bakground 1"
        },
        {
          "value": "background-2",
          "label": "Bakground 2"
        },
        {
          "value": "background-3",
          "label": "Bakground 3"
        }
      ],
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Border Elements"
    },
    {
      "type": "radio",
      "id": "top_border",
      "label": "Top Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "no"
    },
    {
      "type": "radio",
      "id": "bottom_border",
      "label": "Bottom Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "yes"
    }
  ],
  "presets": [
    {
      "name": "Blurb Section"
    }
  ]
}
{% endschema %}
